.navbar {
  position: sticky;
  top: 0;
  z-index: 10;
  width: 100%;
  background-color: transparent;
}
.menu-layout {
  padding: 0px 60px 0px 40px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  max-width: 1100px;
}

.menu-btn-list {
  display: flex;
  flex-direction: row;
  margin-right: 30px;
  padding: 0;
}

.menu-btn-list li {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 20px;
}

.menu-btn {
  font-family: inter;
  background: none;
  border: none;
  font-size: 16px;
  font-weight: medium;
  color: #727198;
}

.menu-btn:hover {
  color: var(--primary-color);
}
.menu-btn.active {
  color: var(--primary-color);
}

.active-dot {
  content: "";
  display: inline;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: var(--primary-color);
}
