#background {
  position: fixed;
  overflow: hidden;
  inset: 0;
}

.shapes {
  padding: 0, 0, 0, 0;
  color: var(--accent-color1);
  position: absolute;
  opacity: 20%;
  z-index: -20;
  outline: none;
}

.circle {
  height: 25px;
  width: 25px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
}

#animatedShape1 {
  line-height: 50%;
  font-size: 55px;
  font-weight: lighter;
  top: 15%;
  right: 15%;
  width: fit-content;
  height: fit-content;
  border-radius: 100%;
  transform-origin: 50% 50%;
  animation: spin 20s linear infinite;
}

#animatedShape2 {
  line-height: 50%;
  font-size: 55px;
  font-weight: lighter;
  bottom: 20%;
  left: 14%;
  width: fit-content;
  height: fit-content;
  border-radius: 100%;
  transform-origin: 50% 50%;
  animation: spin 20s linear infinite;
}

@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

#animatedShape3 {
  right: 15%;
  top: 50%;
  background-color: var(--primary-bg-color);
  border-style: solid;
  border-width: 1.5px;
  animation: grow 20s linear infinite;
}

@keyframes grow {
  from {
    transform: scale(0.75);
  }
  to {
    transform: scale(1.25);
  }
}

#animatedShape4 {
  right: 30%;
  top: 0%;
  width: 650px;
  height: 650px;
  border: solid;
  border-width: 1.5px;
  background-color: var(--primary-bg-color);
  animation: grow2 10s linear infinite;
}

@keyframes grow2 {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.05);
  }
}

#animatedShape5 {
  fill: aqua;
  color: aqua;
  top: 30%;
  right: 7%;
  outline: none;
}
.dot-grid {
  display: grid;
  grid-template-columns: repeat(3, 7px);
  grid-template-rows: repeat(3, 7px);
  gap: 8px;
}

.dot-grid span {
  width: 7px;
  height: 7px;
  background: black;
  border-radius: 50%;
  outline: none;

  background: linear-gradient(
    120deg,
    var(--accent-color1) 0%,
    #544272 50%,
    var(--accent-color1) 100%
  );
  background-size: 300% 300%;
  animation: gradientMove 3s linear infinite;
}

@keyframes gradientMove {
  0% {
    background-position: 0% 0%;
  }
  100% {
    background-position: 100% 100%;
  }
}

#twinkling-four-point-star {
  top: 10%;
  left: 10%;
  animation: twinkle 5s linear infinite;
}

@keyframes twinkle {
  0% {
    opacity: 20%;
  }
  50% {
    opacity: 70%;
  }
  100% {
    opacity: 20%;
  }
}

#twinkling-four-point-star::after,
#twinkling-four-point-star::before {
  content: "\2726";
  font-size: 3rem;
}

#twinkling-four-point-star::after {
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#shape1 {
  right: 15%;
  top: 17%;
  font-size: 50px;
  font-weight: 100;
  line-height: 50%;
  transform: rotate(33deg);
}

#medium-circle {
  width: 70px;
  height: 70px;
  top: 15%;
  right: 41%;
  background-color: transparent;
  border-radius: 50%;
  border-style: solid;
  border-color: var(--accent-color1);
}

#shape2 {
  bottom: 30%;
  right: 46%;
  grid-template-columns: repeat(3, 5px);
  grid-template-rows: repeat(3, 5px);
  gap: 6px;
}
